body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Fonts */

html {
  font-size: 62.5%;
}

/* Colours  */

/* body {
  background: hsl(217, 54%, 11%);
} */

/* Card */

.card {
  margin: 2rem;
}

.card__header {
  max-width: 200px;
}

.card__image {
  width: 100%;
}
