html {
  font-size: 62.5%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
}

/* Badge */

.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.badge {
  display: flex;
  flex-direction: row;
}

.badge__text {
  margin: 0;
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.text--eth {
  font-weight: 600;
  color: hsl(178, 100%, 50%);
  display: inline-block;
}

.text--clock {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
  display: inline-block;
}

.badge__icon--eth {
  width: 12px;
  height: 20px;
}

.badge__icon--clock {
  width: 18px;
  height: 20px;
}

/* Card */

.card {
  max-width: 300px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  padding: 2rem;
}

.card__header {
  position: relative;
}

.card__header-img {
  width: 100%;
  border-radius: 10px;
}

.view-icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 40%;
  opacity: 0;
}

.card__header-img:hover + .view-icon {
  opacity: 1;
}

.card__header-img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 hsl(178, 100%, 50%));
  cursor: pointer;
}

.card__body {
  padding: 1rem;
  padding-bottom: 2rem;
  padding-left: 0;
  border-bottom: 0.5px solid hsl(215, 51%, 70%);
}

.card__body-title {
  color: white;
  font-weight: 600;
}

.card__body-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.card__body-text {
  font-size: 1.6rem;
  font-weight: 300;
  color: hsl(215, 51%, 70%);
}

.card__footer {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}
.card__footer-img {
  height: 32px;
  width: 32px;
  border: 1px solid white;
  border-radius: 100%;
}

.card__footer-text {
  font-size: 1.6rem;
  margin: 0;
  margin-left: 1.5rem;
  color: hsl(215, 51%, 70%);
}

.card__footer-name {
  color: cornsilk;
}

.card__footer-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
